*{
    background-color:aliceblue;
}

 body{
    display: flex; 
    flex-direction: row;
    place-items: center;
    justify-content: space-around; 
    height: 100vh;
}

.main-page{
    display:flex; 
    flex-direction: column;
    align-items: center;
}

.title{
    display:flex; 
    flex-direction: column;
    line-height: 20px;
    align-items: center;
}

h1{
    font-size: 120px;
    font-family:"Smooch Sans", sans-serif;
    line-height: 5px;
    padding: 20px;
    margin: 0px;
}


p{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.sign-up-form{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px
}

#username{
    border-radius: 10px;
    background-image: url("../assets/images/username.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}

#username::placeholder{
    font-size: large;
    color: black;
    opacity: 1;
}

#password{
    border-radius: 10px;
    background-image: url("../assets/images/password.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}
#password::placeholder{
    font-size: large;
    color: black;
    opacity: 1;
}

#submit{
    background-color: #1C1C1C;
    color:white;
    width: 364px;
    height: 52px;
    max-width: 364px;
    max-height: 52px;  

    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  
    border-radius: 15px;
}

.other-options{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px
}


#google{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../assets/images/google.png");
    background-repeat: no-repeat;
    background-position: 28% 50%;

    font-size: 14px;
    font-family: "Poppins", sans-serif;
    width: 364px;
    height: 52px;
    max-width: 364px;
    max-height: 52px;  
    padding: 12px 20px 12px 40px;
    border-radius: 15px;
}
#facebook{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../assets/images/facebook.png");
    background-repeat: no-repeat;
    background-position: 25% 50%;

    font-size: 14px;
    font-family: "Poppins", sans-serif;

    width: 364px;
    height: 52px;
    max-width: 364px;
    max-height: 52px;  
    padding: 12px 20px 12px 40px;
    border-radius: 15px;
}

.image-box{
    width:50%;
    height:90%;  
    background-image: url('../assets/images/background.png');
    background-repeat: no-repeat;
    background-size:100%;
    border-radius: 10%;
}  

